Django==3.0.8	
Markdown==3.3		
attrs==19.3.0	
click==7.1.2	
configparser==5.0.0	
coverage==5.1	
django-expiring-token==1.0.2	
django-filter==2.4.0	
django-session-timeout==0.1.0	
djangorestframework==3.12.1	
future==0.18.2		
more-itertools==8.2.0	
msgpack==0.6.1	
nltk==3.5	
numpy==1.18.4	
packaging==20.3	
pathlib==1.0.1	
pip==19.0.3	
pluggy==0.13.1	
py==1.8.1	
pyparsing==2.4.7	
pytest==5.4.2	
pytest-cov==2.8.1	
pytz==2020.1	
regex==2020.5.7	
requests==2.23.0	
requests-mock==1.8.0	
setuptools==40.8.0	
six==1.14.0	
sqlparse==0.3.1	
stridesdk==1.4.11	
tqdm==4.46.0	
urllib3==1.25.9	
wcwidth==0.1.9	
zipp==3.1.0	
